git+https://github.com/markbrough/babbage@3fa45024d651ad1d8c8d85ebd32920c2f83bf274#egg=babbage==0.6.0
Flask==2.3.2
Flask-Migrate==4.0.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.0.5
normality==2.4.0
psycopg2==2.9.7
python-dateutil==2.8.2
requests>=2.31.0
openpyxl==3.0.10
iatikit==3.5.0
iatiflattener==0.10.11
pyexcelerate==0.10.0
numpy==1.23.5
