git+https://github.com/markbrough/babbage@f4652a34b7aed6e8d195cd410b7344ce184fce4d#egg=babbage
Flask==2.2.2
Flask-Migrate==4.0.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
normality==2.4.0
psycopg2==2.9.3
python-dateutil==2.8.2
requests==2.28.1
openpyxl==3.0.10
iatikit==3.3.1
git+https://github.com/iati-data-access/iati-flattener@2bdf6106a53ace03b76a4640f5ba75e2ca7fec59#egg=iatiflattener
pyexcelerate==0.9.0
